services:
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: docker/dev/Dockerfile
      target: final
    ports:
      - "8000:8000"
    volumes:
      - ./api-gateway:/usr/src/app
    env_file:
      - ./api-gateway/.env.development
    networks:
      - microservices-network
  product-microservice:
    build:
      context: ./product-microservice
      dockerfile: docker/dev/Dockerfile
      target: final
    ports:
      - "8001:8001"
      - "50051:50051"
    env_file:
      - ./product-microservice/.env.development
    volumes:
      - ./product-microservice/:/usr/src/app
    depends_on:
      product_db:
        condition: service_healthy
      # rabbitmq:
      #   condition: service_healthy
    networks:
      - microservices-network
    command: sh -c "npm run db:deploy && npm run start:dev"
  auth-microservice:
    build:
      context: ./auth-microservice
      dockerfile: docker/dev/Dockerfile
      target: final
    ports:
      - "8002:8002"
    env_file:
      - ./auth-microservice/.env.development
    volumes:
      - ./auth-microservice/:/usr/src/app
    depends_on:
      auth_db:
        condition: service_healthy
    networks:
      - microservices-network
    command: sh -c "npm run db:deploy && npm run start:dev"
  enroll-microservice:
    build:
      context: ./enroll-microservice
      dockerfile: docker/dev/Dockerfile
      target: final
    ports:
      - "8003:8003"
      - "50053:50051"
    env_file:
      - ./enroll-microservice/.env.development
    volumes:
      - ./enroll-microservice/:/usr/src/app
    depends_on:
      enroll_db:
        condition: service_healthy
    networks:
      - microservices-network
    command: sh -c "npm run db:deploy && npm run start:dev"
  notification-microservice:
    build:
      context: ./notification-microservice
      dockerfile: docker/dev/Dockerfile
      target: final
    ports:
      - "8005:8005"
    env_file:
      - ./notification-microservice/.env.development
    volumes:
      - ./notification-microservice/:/usr/src/app
    depends_on:
      notification_db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-network
    command: sh -c "npm run db:deploy && npm run start:dev"
  profile-microservice:
    build:
      context: ./profile-microservice
      dockerfile: docker/dev/Dockerfile
      target: final
    ports:
      - "8004:8004"
      - "50052:50051"
    env_file:
      - ./profile-microservice/.env.development
    volumes:
      - ./profile-microservice/:/usr/src/app
    depends_on:
      profile_db:
        condition: service_healthy
    networks:
      - microservices-network
    command: sh -c "npm run db:deploy && npm run start:dev"
  blog-microservice:
    build:
      context: ./blog-microservice
      dockerfile: docker/dev/Dockerfile
      target: final
    ports:
      - "8006:8006"
    env_file:
      - ./blog-microservice/.env.development
    volumes:
      - ./blog-microservice/:/usr/src/app
    depends_on:
      blog_db:
        condition: service_healthy
    networks:
      - microservices-network
    command: sh -c "npm run db:deploy && npm run start:dev"
  product_db:
    image: postgres:18
    restart: always
    user: postgres
    secrets:
      - product_db
    environment:
      POSTGRES_DB: products
      POSTGRES_PASSWORD_FILE: /run/secrets/product_db
    ports:
      - "5434:5432"
    volumes:
      - product_data:/var/lib/postgresql #from postgres 18 without /data (error problems)
    networks:
      - microservices-network
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
  enroll_db:
    image: postgres:18
    restart: always
    user: postgres
    secrets:
      - enroll_db
    environment:
      POSTGRES_DB: enroll
      POSTGRES_PASSWORD_FILE: /run/secrets/enroll_db
    ports:
      - "5435:5432"
    volumes:
      - enroll_data:/var/lib/postgresql #from postgres 18 without /data (error problems)/data
    networks:
      - microservices-network
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
  auth_db:
    image: postgres:18
    restart: always
    user: postgres
    secrets:
      - auth_db
    environment:
      POSTGRES_DB: auth
      POSTGRES_PASSWORD_FILE: /run/secrets/auth_db
    ports:
      - "5433:5432"
    volumes:
      - auth_data:/var/lib/postgresql #from postgres 18 without /data (error problems)/data
    networks:
      - microservices-network
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
  notification_db:
    image: postgres:18
    restart: always
    user: postgres
    secrets:
      - notification_db
    environment:
      POSTGRES_DB: notification
      POSTGRES_PASSWORD_FILE: /run/secrets/notification_db
    ports:
      - "5437:5432"
    volumes:
      - notification_data:/var/lib/postgresql #from postgres 18 without /data (error problems)/data
    networks:
      - microservices-network
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
  profile_db:
    image: postgres:18
    restart: always
    user: postgres
    secrets:
      - profile_db
    environment:
      POSTGRES_DB: profiles
      POSTGRES_PASSWORD_FILE: /run/secrets/profile_db
    ports:
      - "5436:5432"
    volumes:
      - profile_data:/var/lib/postgresql #from postgres 18 without /data (error problems) #from postgres 18 without /data (error problems)
    networks:
      - microservices-network
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
  blog_db:
    image: postgres:18
    restart: always
    user: postgres
    secrets:
      - blog_db
    environment:
      POSTGRES_DB: blog
      POSTGRES_PASSWORD_FILE: /run/secrets/blog_db
    ports:
      - "5439:5432"
    volumes:
      - blog_data:/var/lib/postgresql #from postgres 18 without /data (error problems)/data
    networks:
      - microservices-network
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5 
  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=app
      - RABBITMQ_DEFAULT_PASS=app
    ports:
      - 5672:5672
      - 15672:15672
    volumes: 
      - ./rabbitmq/rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-network

  ai-microservice:
    container_name: ai-microservice
    image: ai-microservice
    build:
      dockerfile: dev.Dockerfile
      context: ./ai-microservice
    volumes:
      - ./ai-microservice/src:/usr/src/app/src
    ports: 
      - 50057:50057
    networks:
      - microservices-network

  elasticsearch:
    image: elasticsearch:9.1.3
    container_name: elasticsearch
    ports:
      - 9200:9200
    volumes:
      - ./elasticsearch-microservice/es_data:/usr/share/elasticsearch/data
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - network.host=0.0.0.0
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:9200 >/dev/null || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 30
    networks:
      - microservices-network
  kibana:
    image: kibana:9.1.3
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      elasticsearch:
        condition: service_healthy
    networks:
      - microservices-network

volumes:
  product_data:
  auth_data:
  enroll_data:
  notification_data:
  profile_data:
  blog_data:
  rabbitmq_data:
networks:
  microservices-network:
    driver: bridge
secrets:
  auth_db:
    file: db/auth-db-password.txt
  product_db:
    file: db/product-db-password.txt
  enroll_db:
    file: db/enroll-db-password.txt
  notification_db:
    file: db/notification-db-password.txt
  profile_db:
    file: db/profile-db-password.txt
  blog_db:
    file: db/blog-db-password.txt
