name: Build and Push Docker Image
on:
  workflow_dispatch:
jobs:
  check-changes:
    runs-on: ubuntu-latest
    outputs:
      changes: ${{ steps.filter.outputs.changes }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Filter for changes
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            api-gateway: 'api-gateway/**'
  create-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs:
      - check-changes
    if: ${{ needs.check-changes.outputs.changes != '[]' }}
    outputs:
      new-tag: ${{ steps.release.outputs.new-tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Release new version
        id: release
        run: |
          bash ./scripts/git_update.sh -v patch
  call-aws-workflow-for-microservices:
    needs: [check-changes, create-release]
    permissions:
      id-token: write
      contents: write
    strategy:
      matrix:
        service: ${{ fromJSON(needs.check-changes.outputs.changes) }}
    uses: ./.github/workflows/docker-build-aws.yaml
    secrets: inherit
    with:
      image_name: ${{ matrix.service }}
      dockerfile_context: ./${{ matrix.service }}
      dockerfile_path: ./${{ matrix.service }}/docker/dev/Dockerfile
      new_tag: ${{ needs.create-release.outputs.new-tag }}
  call-ghcr-workflow-for-microservices:
    needs: [check-changes, create-release]
    permissions:
      packages: write
      contents: write
    strategy:
      matrix:
        service: ${{ fromJSON(needs.check-changes.outputs.changes) }}
    uses: ./.github/workflows/docker-build-ghcr.yaml
    secrets: inherit
    with:
      image_name: ${{ matrix.service }}
      dockerfile_context: ./${{ matrix.service }}
      dockerfile_path: ./${{ matrix.service }}/docker/dev/Dockerfile
      new_tag: ${{ needs.create-release.outputs.new-tag }}

