name: Build and Push Docker Image into GitHub Container Registry
on:
  workflow_call:  
    inputs:
      image_name:
        required: true
        type: string
      dockerfile_context:
        required: true
        type: string
      dockerfile_path:
        required: false
        type: string
        default: Dockerfile
      new_tag:
        required: true
        type: string

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}

      - name: Build and Push Docker Image to GitHub Container Registry
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.dockerfile_context }}
          file: ${{ inputs.dockerfile_path }}
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ inputs.image_name }}:${{ inputs.new_tag }}
            ghcr.io/${{ github.repository_owner }}/${{ inputs.image_name }}:latest
        